<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <header class="container-fluid h-10 bg-success text-white pl-5 pt-3 pb-3 d-flex">
        <img src="{{ url_for('static', filename='logo.png') }}" style="width:10%" class="mr-3">
        <span>
            <h1>T O A D</h1>
            <p>Cipher your file using the power of blockchain and smart contract</p>
        </span>
    </header>

    <nav class="navbar navbar-expand-sm bg-light">

        <!-- Links -->
        <ul class="navbar-nav">
            <li><a class="nav-link navitem" href="{{ url_for('toad.index') }} ">Home</a></li>
            <li><a class="nav-link navitem" href="{{ url_for('toad.shares_list') }} ">Available shares</a></li>
            {% if g.user %}
            <li><a class="nav-link navitem" href="{{ url_for('toad.group_creation') }} ">Group creation</a></li>
            <li><a class="nav-link navitem" href="{{ url_for('toad.encrypt_and_send_file') }} ">Encrypt a file</a></li>
            <li><a class="nav-link navitem" href="{{ url_for('auth.logout') }} ">Log out</a></li>
            {% else %}
            <li><a class="nav-link navitem" href="{{ url_for('auth.login') }} ">Log in</a></li>
            <li><a class="nav-link navitem" href="{{ url_for('auth.register') }} ">Register</a></li>
            {% endif %}
        </ul>

    </nav>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}
    <section>{% block section %}{% endblock %}</section>

</body>

<footer>{% block footer %}{% endblock %}</footer>
</html>
